@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

/*------------------------------------------------------------------------ General */
body {
    background-color: #EAECF2;
    background-image: url("../images/game-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'Michroma', sans-serif;
}

/*------------------------------------------------------------------------ Colours */



/*--------------------------------------------------------------------- Typography */



/*------------------------------------------------------------ Image / Adjustments */



/*------------------------------------------------------------------- Drum Console */

.drum-console {
    width: 490px;
    min-height: 400px;
    background: #EBECF0;
    box-shadow: -9px -9px 17px 0 #FAFBFF, 9px 9px 17px 0 rgba(166, 171, 189, 0.80);
    border-radius: 28px;
    font-family: 'Michroma', sans-serif;
    color: #696969;
}

.title {
    height: 139px;
}

.level {
    letter-spacing: 4px;
    font-size: 1.3em;
}

.score {
    background: #1B1C21;
    background-image: linear-gradient(-42deg, rgba(255, 255, 255, 0.0) 0%, #45474E 100%);
    border: 2px solid #DC3131;
    box-shadow: -6px -6px 12px 0 #FAFBFF,
        6px 6px 12px 0 rgba(166, 171, 189, 0.80);
    border-radius: 11px;
    height: 40px;
    width: 145px;
    color: white;
}

.digits {
    color: white;
    letter-spacing: 4px;
    font-size: 1.5em;
}

.points {
    font-size: .8em;
    letter-spacing: 2px;
    padding-left: 4px;
}

/*------------------------------------------------------------------ Media Queries */

@media screen and (max-width: 768px) {

    /* Hide console background for smaller screen sizes */
    .drum-console {
        background-color: transparent;
        box-shadow: none;
        background-image: none;
    }

    .title {
        height: 139px;
        margin-top: -25px;
    }
}

/* Scale for short screen height */
@media screen and (max-height: 700px) {
    .drum-console {
        transform: scale(0.5);
    }
}

@media screen and (max-width: 575px) {

    .drum-console {
        background-color: transparent;
        width: 310px;
        height: 530px;
        box-shadow: none;
        background-image: none;
        border-radius: 0;
        transform: scale(0.9);
    }

    .title {
        height: 117px;
    }

    .level {
        font-family: 'Michroma', sans-serif;
        letter-spacing: 4px;
        font-size: .65em;
    }

    .score {
        height: 28px;
        width: 120px;
        border-radius: 8px;
        border: 1.4px solid #DC3131;
    }

    .digits {
        color: white;
        letter-spacing: 4px;
        font-size: .9em;
    }

    .points {
        font-size: .5em;
        letter-spacing: 1px;
        padding-left: 2px;
    }
}