@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

/*------------------------------------------------------------------------ General */
body {
    background-color: #EAECF2;
    background-image: url("../images/game-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'Michroma', sans-serif;
}

/*------------------------------------------------------------------------ Colours */



/*--------------------------------------------------------------------- Typography */



/*------------------------------------------------------------ Image / Adjustments */



/*------------------------------------------------------------------- Drum Console */

.drum-console {
    width: 490px;
    min-height: 400px;
    background: #EBECF0;
    box-shadow: -9px -9px 17px 0 #FAFBFF, 9px 9px 17px 0 rgba(166, 171, 189, 0.80);
    border-radius: 28px;
    font-family: 'Michroma', sans-serif;
    color: #696969;
}

.title {
    height: 139px;
}

.level {
    letter-spacing: 4px;
    font-size: 1.3em;
}

.score {
    background: #1B1C21;
    background-image: linear-gradient(-42deg, rgba(255, 255, 255, 0.0) 0%, #45474E 100%);
    border: 2px solid #DC3131;
    box-shadow: -6px -6px 12px 0 #FAFBFF,
        6px 6px 12px 0 rgba(166, 171, 189, 0.80);
    border-radius: 11px;
    height: 40px;
    width: 145px;
    color: white;
}

.digits {
    color: white;
    letter-spacing: 4px;
    font-size: 1.5em;
}

.points {
    font-size: .8em;
    letter-spacing: 2px;
    padding-left: 4px;
}

/*-------------------------------------------------------------- Drum Console Pads */

.drum-pad {
    background-color: #EBECF0;
    box-shadow:
        5px 5px 10px 0 rgba(166, 171, 189, 0.8),
        10px 10px 14px 0 rgba(250, 251, 255, 1);
    border-radius: 11.51%;
    border: 2px solid rgba(255, 255, 255, 0.16);
    height: 75px;
    width: 75px;
    padding: 2px 0 0 10px;
}

.kick-drum {
    cursor: pointer;
}

/*------------------------------------------------- Drum Console Transport Buttons */

.instrument {
    background-color: #EBECF0;
    box-shadow:
        1px 1px 3px 0 rgba(166, 171, 189, 0.8),
        -1px -1px 3px 0 rgba(250, 251, 255, 1);
    border-radius: 50%;
    height: 68px;
    width: 68px;
    padding: 2px 0 0 10px;
    cursor: pointer;
}

.trigger {
    box-shadow: inset 3px 3px 6px #6EC59A;
    background-color: rgba(173, 226, 130, 0.15);
    border-radius: 50%;
    border: 2px solid #6EC59A;
}

#kick {
    background-image: url("../images/kick-icon.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center center;
}

#kick:hover {
    border: 2px solid #6EC59A;
}

#snare {
    background-image: url("../images/snare-icon.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center center;
}

#snare:hover {
    border: 2px solid #6EC59A;
}

#hi-hats {
    background-image: url("../images/hihat-icon.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center center;
}

#hi-hats:hover {
    border: 2px solid #6EC59A;
}

#open-hh {
    background-image: url("../images/hhopen-icon.png");
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center center;
}

#open-hh:hover {
    border: 2px solid #6EC59A;
}

.tags {
    height: 10px;
    width: 72px;
    font-size: .5em;
    letter-spacing: 1px;
}

/*------------------------------------------------------------------ Media Queries */

@media screen and (max-width: 768px) {

    /* Hide console background for smaller screen sizes */
    .drum-console {
        background-color: transparent;
        box-shadow: none;
        background-image: none;
    }

    .title {
        height: 139px;
        margin-top: -25px;
    }
}

/* Scale for short screen height */
@media screen and (max-height: 700px) {
    .drum-console {
        transform: scale(0.5);
    }
}

@media screen and (max-width: 575px) {

    .drum-console {
        background-color: transparent;
        width: 310px;
        height: 530px;
        box-shadow: none;
        background-image: none;
        border-radius: 0;
        transform: scale(0.9);
    }

    .title {
        height: 117px;
    }

    .level {
        font-family: 'Michroma', sans-serif;
        letter-spacing: 4px;
        font-size: .65em;
    }

    .score {
        height: 28px;
        width: 120px;
        border-radius: 8px;
        border: 1.4px solid #DC3131;
    }

    .digits {
        color: white;
        letter-spacing: 4px;
        font-size: .9em;
    }

    .points {
        font-size: .5em;
        letter-spacing: 1px;
        padding-left: 2px;
    }

    .drum-pad {
        height: 55px;
        width: 100px;
        box-shadow:
            4px 4px 8px 0 rgba(166, 171, 189, 0.8),
            8px 8px 10px 0 rgba(250, 251, 255, 1);
        border: 2px solid rgba(255, 255, 255, 0.16);
        font-size: .5em;
        padding: 0 0 0 10px;
    }

    .instrument {
        height: 55px;
        width: 55px;
    }

    .tags {
        height: 10px;
        width: 75px;
        font-family: 'Michroma', sans-serif;
        font-size: 6px;
        letter-spacing: 1px;
    }
}